:root {
  /*Color*/
  --color-white: #f2eeeb;
  --color-black: #0d0d0d;
  --color-light-gray: rgb(207, 207, 207);
  --color-dark-red: #8c1f07;
  --color-pink: #f26052;
  --color-light-pink: #f2786d;

  /*font weight*/
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-white);
  margin: 0;
  cursor: default;
  width: 480px;
  margin: 0 auto;
  border: 5px solid var(--color-black);
  border-radius: 30px;
}

section {
  display: block;
  text-align: center;
  margin: auto;
}

.title__name {
  font-size: 3rem;
  font-weight: var(--weight-bold);
  margin-top: 1.4rem;
  margin-bottom: 2rem;
}
#head {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  margin: 1rem 3.3rem;
}

.head__name {
  line-height: 51px;
  font-weight: var(--weight-semi-bold);
  margin-top: 0;
  margin-bottom: 0;
}

#head i {
  display: flex;
  align-items: center;
}

.input__container {
  text-align: center;
}

#input-button {
  height: 3rem;
}

.input {
  position: relative;
  display: block;
  margin: 0.2rem auto;
  width: 26rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  padding: 10px 100px 10px 20px;
  line-height: 1;
  box-sizing: border-box;
  outline: none;
  font-size: 17px;
  font-weight: var(--weight-semi-bold);
}

.input::placeholder {
  color: var(--color-light-gray);
}

.button {
  /* Just a little styling to make it pretty */
  color: var(--color-black);
  position: relative;
  width: 4.5rem;
  height: 1.7rem;
  left: 10rem;
  top: -2.3rem;
  padding: 0;
  background-color: white;
  font-size: 17px;
  font-weight: var(--weight-bold);
  border: 0;
  color: var(--color-light-gray);
}
#mainList {
  margin: 0 auto;
  width: 26rem;
  background-color: var(--color-light-pink);
  border-radius: 10px;
}

#items {
  padding: 0 auto;
  font-size: 1rem;
  margin-right: 1.6rem;
  color: var(--color-white);
  font-weight: var(--weight-regular);
}

li {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding-left: 0;
  margin: 0.2rem 0;
}

li p {
  display: list-item;
  margin: 5px 0;
}

li del {
  display: list-item;
  margin: 5px 0;
}

ul li .item__icon {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.fa-check {
  cursor: pointer;
  margin-right: 25px;
}

.fa-trash-alt {
  cursor: pointer;
}
