* {
  color: white;
}

body {
  background-color: darkgray;
}
div,
img {
  position: absolute;
}
.clientX {
  left: 0;
  border-left: 1px solid white;
  height: 100%;
}
.clientY {
  top: 0;
  border-top: 1px solid white;
  width: 100%;
}
